.library-card {
    background-color: #48233c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .library-card:hover {
    transform: scale(1.05);
  }